.dog-detail-modal {
  width: auto !important;
  border: 0.05px solid rgb(152, 157, 7);
  background-color: #ffe45e;
  min-width: 70px;
  border-radius: 5px;
}
#card-background {
  border: 1px solid rgb(152, 157, 7);
  background-color: #ffe45e;
  border-radius: 5px !important;
}

#text-1-background {
  width: 60%;
  box-shadow: 2px 2px rgb(152, 157, 7), -0.05em 0.1em rgb(152, 157, 7);
  background-color: #ffe45e;
  border-radius: 50px 0px 50px 0px;
  margin-left: 0.5%;
  word-break: break-all;
}

#text-2-background {
  width: 60%;
  box-shadow: 2px 2px rgb(152, 157, 7), -0.05em 0.1em rgb(152, 157, 7);
  background-color: #ffe45e;
  border-radius: 50px 0px 50px 0px;
  text-align: right;
  margin-left: auto;
  margin-right: 0.5%;
}

#detail-modal-body {
  background-color: #ffe45e;
  border-radius: 5px;
}

#center-button {
  text-align: center;
}

#dog-detail-image {
  width: 100%;
  object-fit: cover !important;
  box-shadow: 1px 1.5px rgba(0, 0, 0, 0.633), -0.05em 0.1em rgba(0, 0, 0, 0.633);
  border: 4px solid rgba(117, 167, 206, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0px;
  margin-bottom: 3px;
  margin-top: -1px;
}

#adopt-button {
  margin-top: 1px;
  background-color: rgba(133, 197, 246, 0.938);
  border: 2px solid rgba(0, 144, 210, 0.8);
  width: 175px;
}

#remove-button {
  background-color: hsl(348, 88%, 66%);
  border: 2px solid hsl(348, 94%, 38%);
  width: 175px;
  margin-bottom: 1px;
}

#spacing-button {
  padding: 1px;
}

#dogs-detail-container {
  border: 1px solid rgba(0, 6, 11, 0.251);
  background-color: rgba(135, 196, 242, 0.8);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: -1px !important;
}

#name-emblem {
  width: 40%;
  box-shadow: 0.5px 0.5px rgba(197, 204, 9, 0.5),
    -0.05em 0.1em rgb(152, 157, 7, 0.5);
  border: 2px solid rgba(138, 138, 138, 0.735);
  background-color: #ffe45e;
  border-radius: 0px 200px 200px 200px;
  margin-left: 30%;
  padding-top: -1%;
}
