#not-found-page {
  width: 500px;
  background-color: #ffe45e;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#dog-pooping-image {
  height: 400px;
  width: auto;
  margin-bottom: 15px;
}
