.adoption-detail-modal {
  width: auto !important;
  min-width: 700px;
  border: 5px solid black;
}

#adoption-detail-modal-body {
  background-color: #ffe45e;
}

#dog-image {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 30px;
}

#undo-button {
  background-color: #f55c7a;
  color: #343a40;
  width: 175px;
}

#dogs-container {
  background-color: rgba(135, 196, 242, 0.8);
  border-radius: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#adopters-container {
  background-color: rgba(135, 196, 242, 0.8);
  border-radius: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
